@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --container-padding: 1.25rem;
  --container-max-width: 1280px;
  --color-body: #1D1E28;
  --color-light: #ffffff;
  --font-roboto: "Roboto", sans-serif;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  max-width: var(--container-max-width);
}